**/__pycache__/

# ignore data files
data
figs

# ignore virtual environment
.venv

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# ignore local note file
notes_pb.txt

# ignore notebook directory
IMSIDE sc td/mod_td 4.7/notebook/